<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      StudyApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>
        Alejandro Lezcano
      </ion-title>
    </ion-toolbar>
    <ion-toolbar>
      
      <ion-title size="large">
        Listar Topicos
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="Home()">
          <ion-label>Inicio</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item *ngFor="let topic of topics" >
      <ion-label >{{topic.id}} - {{ topic.name}}  - {{topic.owner}} </ion-label>
      
      <ion-icon slot="end" name="create-outline" [routerLink]="'/edit-topic/'+ topic.id"></ion-icon>
      <ion-icon slot="end" name="trash-outline" (click)="eliminar(topic.id)"></ion-icon>
    </ion-item>
    
   <!--
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  --> 
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/edit-topic/0">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>
</ion-content>